*{
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-attachment: fixed;
}

.btn-block {
    display: flex;
    justify-content: space-between;
    background: wheat;
    align-items: center;
}

    .month-name, .year-name {
        font-weight: bold;
        text-transform: capitalize;
    }

    .btn {
        cursor: pointer;
    }

.calendar-wrap {
    // border: 1px solid black;
    max-width: 560px;
    padding: 10px;
    margin: 5px auto 0 auto;
}

    .calendar-days {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .dayWeek {
            width: 14.286%;
            padding: 10px;
            text-align: center;
            

            &:nth-of-type(7n - 1), &:nth-of-type(7n) {
            color: rgb(252, 84, 84);
            }
        }

    .calendar-layout {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .day {
        width: 14.286%;
        padding: 10px;
        cursor: pointer;
        
            &--bingo {
                font-size: 0.5rem;
                box-shadow: 0 0 1px grey;
                color: rgb(73, 73, 73);
                background: rgb(255, 255, 255);

                &:hover {
                    box-shadow: 0 0 3px grey;;
                    font-weight: bold;
                }
            }
            // &:nth-of-type(7n - 1), &:nth-of-type(7n) {
            //     background: rgb(216, 216, 216);
            //     color: rgb(252, 84, 84);

            //     &:hover {
            //         box-shadow: 0 0 3px grey;
            //         font-weight: bold;
            //     }
            // }
        }
